.not-found {
  height: 400px;
}

.notfound-para {
  font-family: 'Roboto';
  color: #616e7c;
  text-align: center;
}

.notfound-head {
  font-family: 'Roboto';
  color: #616e7c;
  text-align: center;
}
